h1{
text-align: center;	
}

#holder{
	width: 50%;
	margin: auto auto;
}

.logout{
	margin-top: 0px;
	text-align:center;
	font-size: 12px;
	padding: 5px;
}

a:visited{
	margin: 0px;
	text-align: center;
	text-decoration: none;
}

.t1{
	border: 3px solid #E5E5E5;
	width: 100%;
	margin-top: 15px;
	text-align: center;
	background: #F7F7F7;
}

#clearancetag{
	margin: auto auto;
	text-align: center;
	padding: 10px;
	background: #F7F7F7;
	border: 3px solid #E5E5E5;
}

body{
	background: #F0F0F0;
	font-family: Arial, sans-serif;
}