.t1{
	border: 3px solid #E5E5E5;
	width: 100%;
	margin-top: 15px;
	text-align: center;
	background: #F7F7F7;
}

.t2{
	color: #F7F7F7;
}

#clearancetag{
	margin: 10px auto;
	text-align: center;
	padding: 10px;
	background: #F7F7F7;
	border: 3px solid #3b96ff;
}